*,
*:is(::before, ::after) {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Plus Jakarta Sans";
  box-sizing: border-box;
  font-size: 90%;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-stroke-width: 0.1px;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  display: inline-flex;
  width: 0.38vw;
}
html::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, rgba(52, 202, 165, 0));
  border-radius: 20px;
}

body {
  background: #f7f8fa;
}

* svg {
  cursor: pointer;
}

.container div.navbar {
  display: flex;
  justify-content: space-between;
  background: #fafafa;
  position: sticky;
  top: 0;
  padding: 1.2rem 1rem 0.8rem 6.2rem;
  align-items: center;
  border-bottom: 1px solid #dadddd;
}
.container div.navbar .nav-header {
  font-weight: 600;
  font-size: 20px;
}
.container .search-notifications {
  display: flex;
  gap: 2.3rem;
  align-items: center;
}
.container .search-notifications .search-box {
  position: relative;
}
@media only screen and (max-width: 500px) {
  .container .search-notifications .search-box {
    display: none;
  }
}
.container .search-notifications .search-box input {
  all: unset;
  width: 300px;
  padding: 8px 4px;
  border: 1px solid #dadddd;
  border-radius: 20px;
  text-indent: 35px;
  background: #ffffff;
}
.container .search-notifications .search-box input::-moz-placeholder {
  font-size: 15px;
  color: #dadddd;
}
.container .search-notifications .search-box input::placeholder {
  font-size: 15px;
  color: #dadddd;
}
@media only screen and (max-width: 856px) {
  .container .search-notifications .search-box input {
    width: 100%;
  }
}
.container .search-notifications .search-box .search-icon {
  position: absolute;
  top: 50%;
  left: 20px;
  bottom: 50%;
  transform: translate(-50%, -50%);
}
.container .search-notifications .date-curent, .container .search-notifications .notify-loginInfo .logo-major {
  display: flex;
  align-items: center;
  gap: 8px;
}
@media only screen and (max-width: 712px) {
  .container .search-notifications .date-curent svg, .container .search-notifications .notify-loginInfo .logo-major svg {
    display: none;
  }
}
.container .search-notifications .date-curent p, .container .search-notifications .notify-loginInfo .logo-major p {
  font-family: "Inter";
  font-weight: 500;
  font-size: 14px;
}
@media only screen and (max-width: 712px) {
  .container .search-notifications .date-curent p, .container .search-notifications .notify-loginInfo .logo-major p {
    display: none;
  }
}
.container .search-notifications .notify-loginInfo .logo-bell-sm {
  display: none;
}
.container .search-notifications .notify-loginInfo .logo-bell-sm .dj {
  background: #34caa5;
  padding: 7px 8px;
  border-radius: 8px;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}
.container .search-notifications .notify-loginInfo .logo-bell-sm .bell {
  background: inherit;
  padding: 10px;
  border: 1px solid #dadddd;
  border-radius: 50%;
}
.container .search-notifications .notify-loginInfo .logo-bell-sm .bell:hover {
  background: #34caa5;
}
@media only screen and (max-width: 1020px) {
  .container .search-notifications .notify-loginInfo .logo-bell-sm {
    display: flex;
    align-items: center;
    gap: 1.2rem;
  }
}
.container .search-notifications .notify-loginInfo .logo-major {
  gap: 1.2rem;
}
.container .search-notifications .notify-loginInfo .logo-major .bell {
  background: inherit;
  padding: 10px;
  border: 1px solid #dadddd;
  border-radius: 50%;
}
.container .search-notifications .notify-loginInfo .logo-major .bell:hover {
  background: #34caa5;
}
.container .search-notifications .notify-loginInfo .logo-major .login_info {
  background: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 20px;
  padding: 5px 5px;
  border: 1px solid #dadddd;
}
.container .search-notifications .notify-loginInfo .logo-major .login_info .name {
  font-size: 15px;
  font-family: "Inter";
  font-weight: 400;
  color: 500;
  text-align: center;
}
.container .search-notifications .notify-loginInfo .logo-major .login_info p:not(.name) {
  color: #787486;
  font-weight: 400;
  font-family: "Inter";
  font-size: 14px;
}
@media only screen and (max-width: 1020px) {
  .container .search-notifications .notify-loginInfo .logo-major {
    display: none;
  }
}

.notify {
  position: absolute;
  top: 90px;
  right: 20px;
  z-index: 100;
  width: clamp(15em, 380px, 380px);
  padding: 15px;
  background: #ffffff;
  border: 1px solid #dadddd;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
  border-radius: 14px;
  display: none;
}
@media only screen and (max-width: 600px) {
  .notify {
    width: 150px;
  }
}

.notifyShow {
  display: block;
}

.login_drpdnn_show {
  display: block !important;
}

.notify_label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.notify_label > div:first-of-type {
  font-size: 14px;
  font-weight: 500;
}

.notify_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.notify_buttons > button:not(:last-of-type) {
  padding: 3px;
}

.notify_buttons > button {
  all: unset;
  cursor: pointer;
  padding: 6px;
  border-radius: 4px;
  background: transparent;
  border: 1px solid transparent;
}

.notifies {
  padding-top: 20px;
}

.notifies_text {
  --light: #e3e3e3;
  padding: 12px;
  font-size: 13px;
  text-align: center;
  font-weight: 500;
  color: var(--grey-100);
  background: var(--light);
}

.sidebar {
  width: 70px;
  background: #ffffff;
  color: white;
  height: 100vh;
  overflow-y: auto;
  position: fixed;
  top: 0;
  bottom: 0;
  border-right: 1px solid #ebecf2;
  text-align: center;
}
.sidebar::-webkit-scrollbar {
  background: transparent;
  width: 0px;
}
.sidebar::-webkit-scrollbar-thumb {
  width: 0px;
  background: transparent;
}
.sidebar::-webkit-scrollbar-track {
  width: 0px;
  background: transparent;
}
.sidebar .sidebar_container {
  background: #f7f8fa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10rem;
  align-items: center;
  padding-top: 20px;
  padding-block-end: 20px;
}
.sidebar .sidebar_container .side-major,
.sidebar .sidebar_container .side-minor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.9rem;
}
.sidebar .sidebar_container .side-major .home {
  position: relative;
}
.sidebar .sidebar_container .side-major .home::after {
  position: absolute;
  content: "";
  background: #0d062d;
  width: calc(100% + 0px);
  height: 3px;
  top: 42%;
  right: -34px;
  border-radius: 10px 10px 0 0;
  transform: rotate(-90deg);
}
.sidebar .sidebar_container .side-major .theme_toggle {
  padding: 12px 8px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border-radius: 100px;
}
.sidebar .sidebar_container .side-major .theme_toggle .active_toggle {
  background: #34caa5;
  padding: 6px;
  border-radius: 50%;
}

section.main-cta {
  background: #f7f8fa;
  padding: 1.2rem 1rem 0.8rem 6.2rem;
  display: flex;
  display: grid;
  gap: 2rem;
}
@media only screen and (min-width: 1400px) {
  section.main-cta {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media only screen and (min-width: 1200px) {
  section.main-cta {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and (max-width: 163px) {
  section.main-cta {
    grid-auto-flow: row;
    grid-template-columns: repeat(autofit, min-max(1fr, 1fr));
  }
}
@media only screen and (max-width: 650px) {
  section.main-cta {
    gap: 1.8rem;
  }
}
section.main-cta .canvas, section.main-cta .last-grid-row, section.main-cta .grid-row-two {
  background: #ffffff;
  padding: 15px;
  border-radius: 14px;
}
@media only screen and (min-width: 1400px) {
  section.main-cta .canvas, section.main-cta .last-grid-row, section.main-cta .grid-row-two {
    grid-column: span 3;
  }
}
@media only screen and (min-width: 1200px) {
  section.main-cta .canvas, section.main-cta .last-grid-row, section.main-cta .grid-row-two {
    grid-column: span 2;
  }
}
@media only screen and (max-width: 1024px) {
  section.main-cta .canvas, section.main-cta .last-grid-row, section.main-cta .grid-row-two {
    grid-column: span 4;
  }
}
section.main-cta .canvas .canvas-track, section.main-cta .canvas .last-grid-row .last-header, section.main-cta .last-grid-row .canvas .last-header, section.main-cta .last-grid-row .canvas-track, section.main-cta .last-grid-row .last-header, section.main-cta .canvas .grid-row-two .table-head, section.main-cta .last-grid-row .grid-row-two .table-head, section.main-cta .grid-row-two .canvas .table-head, section.main-cta .grid-row-two .last-grid-row .table-head, section.main-cta .grid-row-two .canvas-track, section.main-cta .grid-row-two .last-grid-row .last-header, section.main-cta .last-grid-row .grid-row-two .last-header, section.main-cta .grid-row-two .table-head {
  display: flex;
  justify-content: space-between;
  padding-block: 10px;
}
section.main-cta .canvas .canvas-track div:first-child, section.main-cta .canvas .last-grid-row .last-header div:first-child, section.main-cta .last-grid-row .canvas .last-header div:first-child, section.main-cta .last-grid-row .canvas-track div:first-child, section.main-cta .last-grid-row .last-header div:first-child, section.main-cta .canvas .grid-row-two .table-head div:first-child, section.main-cta .last-grid-row .grid-row-two .table-head div:first-child, section.main-cta .grid-row-two .canvas .table-head div:first-child, section.main-cta .grid-row-two .last-grid-row .table-head div:first-child, section.main-cta .grid-row-two .canvas-track div:first-child, section.main-cta .grid-row-two .last-grid-row .last-header div:first-child, section.main-cta .last-grid-row .grid-row-two .last-header div:first-child, section.main-cta .grid-row-two .table-head div:first-child {
  color: #26282c;
  font-size: 16px;
  font-weight: 500;
}
section.main-cta .canvas .canvas-track .sort, section.main-cta .canvas .last-grid-row .last-header .sort, section.main-cta .last-grid-row .canvas .last-header .sort, section.main-cta .last-grid-row .canvas-track .sort, section.main-cta .last-grid-row .last-header .sort, section.main-cta .canvas .grid-row-two .table-head .sort, section.main-cta .last-grid-row .grid-row-two .table-head .sort, section.main-cta .grid-row-two .canvas .table-head .sort, section.main-cta .grid-row-two .last-grid-row .table-head .sort, section.main-cta .grid-row-two .canvas-track .sort, section.main-cta .grid-row-two .last-grid-row .last-header .sort, section.main-cta .last-grid-row .grid-row-two .last-header .sort, section.main-cta .grid-row-two .table-head .sort {
  display: flex;
  gap: 10px;
  align-items: center;
}
section.main-cta .canvas .canvas-track .sort .sort_by, section.main-cta .last-grid-row .canvas-track .sort .sort_by, section.main-cta .last-grid-row .last-header .sort .sort_by, section.main-cta .grid-row-two .canvas-track .sort .sort_by, section.main-cta .grid-row-two .table-head .sort .sort_by, section.main-cta .canvas .canvas-track .sort .options-sort, section.main-cta .last-grid-row .canvas-track .sort .options-sort, section.main-cta .last-grid-row .last-header .sort .options-sort, section.main-cta .grid-row-two .canvas-track .sort .options-sort, section.main-cta .grid-row-two .table-head .sort .options-sort {
  color: #3a3f51;
  font-size: 14px;
}
section.main-cta .canvas .canvas-track .sort .options-sort select#sort, section.main-cta .last-grid-row .canvas-track .sort .options-sort select#sort, section.main-cta .last-grid-row .last-header .sort .options-sort select#sort, section.main-cta .grid-row-two .canvas-track .sort .options-sort select#sort, section.main-cta .grid-row-two .table-head .sort .options-sort select#sort {
  border: none;
  outline: none;
  border: 1px solid #edf2f6;
  padding: 6px;
  border-radius: 20px;
  cursor: pointer;
}
section.main-cta .content-stat {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
}
@media only screen and (min-width: 1400px) {
  section.main-cta .content-stat {
    grid-column: span 2;
  }
}
@media only screen and (min-width: 1200px) {
  section.main-cta .content-stat {
    grid-column: span 2;
  }
}
@media only screen and (max-width: 1024px) {
  section.main-cta .content-stat {
    grid-column: span 4;
  }
}
@media only screen and (max-width: 650px) {
  section.main-cta .content-stat {
    grid-template-columns: repeat(1, 1fr);
    gap: 1.8rem;
  }
}
section.main-cta .content-stat .total-area {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 14px;
  padding: 15px;
  background: #ffffff;
}
section.main-cta .content-stat .total-area .fst_area {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section.main-cta .content-stat .total-area .area-text p {
  line-height: 28px;
  color: #898989;
}
section.main-cta .content-stat .total-area .area-text h1 {
  color: #3a3f51;
}
section.main-cta .content-stat .total-area .badge-text {
  display: flex;
  align-items: center;
  gap: 10px;
}
section.main-cta .content-stat .total-area .badge-text span {
  font-size: 14px;
  color: #606060;
}
section.main-cta .content-stat .total-area .badge-text .alert {
  color: #ed544e !important;
  background: rgba(237, 84, 78, 0.12) !important;
}
section.main-cta .content-stat .total-area .badge-text .badge {
  font-size: 12px;
  color: #34caa5;
  background: rgba(52, 202, 165, 0.12);
  padding: 5px 8px;
  border-radius: 20px;
  text-align: center;
}
section.main-cta .content-stat .total-area .badge-text .badge .span_arrow {
  padding-inline: 2px;
}
@media only screen and (min-width: 1400px) {
  section.main-cta .grid-row-two {
    grid-column: span 3;
  }
}
@media only screen and (min-width: 1200px) {
  section.main-cta .grid-row-two {
    grid-column: span 2;
  }
}
@media only screen and (max-width: 620px) {
  section.main-cta .grid-row-two {
    grid-template-columns: repeat(1, 1fr);
  }
}
section.main-cta .grid-row-two .table-head div:first-child {
  color: #26282c;
  font-size: 16px;
  font-weight: 500;
}
section.main-cta .grid-row-two .table-head .see-all {
  font-size: 14px;
  color: #34caa5;
}
section.main-cta .grid-row-two table {
  width: 100%;
  border-collapse: collapse;
}
section.main-cta .grid-row-two table tr {
  text-align: left;
  margin: 0;
  padding: 0;
}
section.main-cta .grid-row-two table tr > td:first-of-type {
  color: #3a3f51;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  line-height: 24px;
}
section.main-cta .grid-row-two table tr > td:nth-child(2) {
  color: #737373;
  font-size: 16px;
  line-height: 24px;
}
section.main-cta .grid-row-two table tr > td:nth-child(3) {
  color: #0d062d;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}
section.main-cta .grid-row-two table tr:nth-child(odd) > td:nth-of-type(4) {
  color: #34caa5;
}
section.main-cta .grid-row-two table tr:nth-child(even) > td:nth-of-type(4) {
  color: #ed544e;
}
section.main-cta .grid-row-two table tr > td:last-of-type {
  color: #0d062d;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}
section.main-cta .grid-row-two table th {
  color: #9ca4ab;
  font-weight: 400;
  padding: 15px 8px;
}
section.main-cta .grid-row-two table td {
  padding: 15px 8px;
}
section.main-cta .grid-row-two table th,
section.main-cta .grid-row-two table tr:not(:last-of-type) {
  border-bottom: 1px solid #edf2f6;
}
@media only screen and (min-width: 1400px) {
  section.main-cta .last-grid-row {
    grid-column: span 2;
  }
}
@media only screen and (min-width: 1200px) {
  section.main-cta .last-grid-row {
    grid-column: span 2;
  }
}
section.main-cta .last-grid-row .last-header div:first-child {
  color: #26282c;
  font-size: 16px;
  font-weight: 500;
}
section.main-cta .last-grid-row .last-header .see-all {
  font-size: 14px;
  color: #34caa5;
}
section.main-cta .last-grid-row .content-platform, section.main-cta .last-grid-row .content-platform .book-bazar {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
section.main-cta .last-grid-row .content-platform .book-bazar, section.main-cta .last-grid-row .content-platform .book-bazar .book-bazar {
  gap: 15px !important;
  padding-top: 5px;
}
section.main-cta .last-grid-row .content-platform .book-bazar .text-title {
  color: #26282c;
  font-size: 16px;
  font-weight: 500;
}
section.main-cta .last-grid-row .content-platform .book-bazar .progress-bar, section.main-cta .last-grid-row .content-platform .book-bazar .progress-bar-store, section.main-cta .last-grid-row .content-platform .book-bazar .progress-bar-troop, section.main-cta .last-grid-row .content-platform .book-bazar .progress-bar-artisan {
  width: 100%;
  height: 12px;
  border-radius: 40px;
  position: relative;
  background: #f5f5f5;
}
section.main-cta .last-grid-row .content-platform .book-bazar .progress-bar::before, section.main-cta .last-grid-row .content-platform .book-bazar .progress-bar-store::before, section.main-cta .last-grid-row .content-platform .book-bazar .progress-bar-troop::before, section.main-cta .last-grid-row .content-platform .book-bazar .progress-bar-artisan::before {
  position: absolute;
  content: "";
  background: #6160dc;
  width: 54.2%;
  height: 10px;
  border-radius: inherit;
}
section.main-cta .last-grid-row .content-platform .book-bazar .progress-bar-artisan:before {
  background: #54c5eb;
  width: 45.2%;
}
section.main-cta .last-grid-row .content-platform .book-bazar .progress-bar-troop:before {
  background: #ffb74a;
  width: 27.02%;
}
section.main-cta .last-grid-row .content-platform .book-bazar .progress-bar-store:before {
  background: #ff4a55;
  width: 27.02%;
}
section.main-cta .last-grid-row .content-platform .rate, section.main-cta .last-grid-row .content-platform .book-bazar .rate {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section.main-cta .last-grid-row .content-platform .rate p, section.main-cta .last-grid-row .content-platform .book-bazar .rate p {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #737373;
}

@media only screen and (max-width: 620px) {
  tr > td:first-of-type img {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */