$boards-color: #fafafa;
$text-bold: #26282c;
$secondary: #65ac9a;
$strohe-board: #dadddd;
$badges-green: #34caa5;
$badges-red: #ed544e;
$bg-badges-green: rgb(52 202 165 /0.12);
$bg-badges-red: rgb(237 84 78 /0.12);
$cta-strokes: #edf2f7;
$bg-color: #ffffff;
$color_fade: #787486;
$bg-side-major: #f7f8fa;
$side-border: #ebecf2;
$side-tracker: #0d062d;
$curve-radius: 20px;
$fill-sort-by: #3a3f51;
$board-radius: 14px;
$padding: 1.2rem 1rem 0.8rem 6.2rem;
$padding-cta: 1.2rem 1rem 0.8rem 6.2rem;
$board-text: #898989;
$prev-dash-color: #606060;
$table-head: #9ca4ab;
$table-stroke: #edf2f6;
$neutral: #737373;
$table_amt: #0d062d;
$progress-layer: #f5f5f5;
$progress-bazar: #6160dc;
$progress-artiste: #54c5eb;
$progress-troop: #ffb74a;
$progress-store: #ff4a55;

$padding-mobile: 1.2rem 1rem 0.8rem 5.3rem;
$padding-cta-mobile: 1.2rem 1rem 0.8rem 5.3rem;

// dark-themes
$bg-color-dark: #161b21;
$bg-side-major-dark: #1d232c;
