$boards-color: #fafafa;
$text-bold: #26282c;
$strohe-board: #dadddd;
$badges-green: #34caa5;
$badges-red: #ed544e;
$cta-strokes: #edf2f7;
$bg-color: #ffffff;
$color_fade: #787486;
$bg-side-major: #f7f8fa;
$side-border: #ebecf2;
$side-tracker: #0d062d;
$curve-radius: 20px;
$fill-sort-by: #3a3f51;
$board-radius: 14px;
