$boards-color: #fafafa;
$text-bold: #26282c;
$strohe-board: #dadddd;
$badges-green: #34caa5;
$badges-red: #ed544e;
$bg-badges-green: rgb(52 202 165 /0.12);
$bg-badges-red: rgb(237 84 78 /0.12);
$cta-strokes: #edf2f7;
$bg-color: #ffffff;
$color_fade: #787486;
$bg-side-major: #f7f8fa;
$side-border: #ebecf2;
$side-tracker: #0d062d;
$curve-radius: 20px;
$fill-sort-by: #3a3f51;
$board-radius: 14px;
$padding-cta: 1.2rem 1rem 0.8rem 6.2rem;
$board-text: #898989;
$prev-dash-color: #606060;
$table-head: #9ca4ab;
$table-stroke: #edf2f6;
$neutral: #737373;
$table_amt: #0d062d;
