@use "../utils/fonts" as *;
@use "../global/colors" as cl;
$reset-margin: 0;

*,
*:is(::before, ::after) {
  margin: $reset-margin;
  padding: $reset-margin;
  box-sizing: border-box;
}

html {
  font-family: $base-font;
  box-sizing: border-box;
  font-size: 90%;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-stroke-width: 0.1px;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  background: cl.$bg-side-major;
}

* svg {
  cursor: pointer;
}
