@use "../utils/fonts" as *;
@use "../global/colors" as cl;
$reset-margin: 0;

*,
*:is(::before, ::after) {
  margin: $reset-margin;
  padding: $reset-margin;
  // box-sizing: border-box;
}

html {
  font-family: $base-font;
  box-sizing: border-box;
  font-size: 90%;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-stroke-width: 0.1px;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: inline-flex;
  width: 0.38vw;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, cl.$secondary);
  border-radius: 20px;
}

body {
  background: cl.$bg-side-major;
}

* svg {
  cursor: pointer;
}

* a {
  text-decoration: none;
}

// toggle-dark-themes
.side-dark,
.nav-dark,
.sidebar_container_dark {
  background: cl.$bg-side-major-dark !important;
  color: cl.$bg-color !important;
  border: 1px solid cl.$bg-side-major-dark !important;
  transition: all 600ms ease-in-out !important;
}

.toggle_dark {
  background: cl.$dark-color !important;
  transition: all 600ms ease-in-out !important;
}

.svg-dark {
  path {
    // stroke: cl.$bg-color !important;
    fill: cl.$bg-color !important;
    transition: all 600ms ease-in-out !important;
  }
}

.svg_dark_stroke {
  path {
    stroke: cl.$bg-color;
    transition: all 600ms ease-in-out !important;
  }
}

.main_cta_dark {
  background: cl.$bg-color-dark !important;
  transition: all 600ms ease-in-out !important;
  // border-radius: 5px !important;
}

.cv_dark {
  background: cl.$bg-side-major-dark !important;
  transition: all 600ms ease-in-out !important;

  div,
  .sort_by {
    color: cl.$color_fade !important;
    transition: all 600ms ease-in-out !important;
  }
}

.dark-col {
  color: cl.$dark-color !important;
  transition: all 600ms ease-in-out !important;
}
.inp-bg {
  background: cl.$input-dark !important;
  border: 1px solid cl.$input-dark !important;
  transition: all 600ms ease-in-out !important;
}

.tooltip-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: cl.$badges-green;
  color: cl.$bg-color;
  padding: 8px;
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  visibility: hidden;
}

.tooltip-container:hover .tooltip {
  opacity: 1;
  visibility: visible;
}
