@use "../global/colors" as *;
@use "../utils/fonts" as *;

section.main-cta {
  background: $bg-side-major;
  padding: $padding-cta;
  display: flex;
  // height: 100vh;
  // overflow-y: auto;
  //   text-align: center;
  display: grid;

  gap: 2rem;

  @media only screen and (min-width: 1400px) {
    grid-template-columns: repeat(5, 1fr);
  }

  @media only screen and (min-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media only screen and (max-width: 163px) {
    grid-auto-flow: row;
    grid-template-columns: repeat(autofit, min-max(1fr, 1fr));
  }
  @media only screen and (max-width: 650px) {
    gap: 1.8rem;
  }

  .canvas {
    background: $bg-color;
    padding: 15px;
    border-radius: $board-radius;

    @media only screen and (min-width: 1400px) {
      grid-column: span 3;
    }

    @media only screen and (min-width: 1200px) {
      grid-column: span 2;
    }

    @media only screen and (max-width: 1024px) {
      grid-column: span 4;
    }

    @media only screen and (max-width: 900px) {
    }
    .canvas-track {
      display: flex;
      justify-content: space-between;
      padding-block: 10px;

      div:first-child {
        color: $text-bold;
        font-size: 16px;
        font-weight: 500;
      }
      .sort {
        display: flex;
        gap: 10px;
        align-items: center;
        .sort_by {
          color: $fill-sort-by;
          font-size: 14px;
        }
        .options-sort {
          @extend .sort_by;

          select#sort {
            border: none;
            outline: none;
            border: 1px solid $table-stroke;
            padding: 6px;
            border-radius: 20px;
            cursor: pointer;
          }
        }
      }
    }
  }
  .content-stat {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    // justify-content: center;
    // align-items: center;
    gap: 2rem;

    @media only screen and (min-width: 1400px) {
      grid-column: span 2;
    }

    @media only screen and (min-width: 1200px) {
      grid-column: span 2;
    }

    @media only screen and (max-width: 1024px) {
      grid-column: span 4;
    }

    @media only screen and (max-width: 650px) {
      grid-template-columns: repeat(1, 1fr);
      gap: 1.8rem;
    }
    .total-area {
      display: flex;
      flex-direction: column;
      gap: 15px;
      border-radius: $board-radius;
      padding: 15px;
      background: $bg-color;
      //   height: 150px;

      .fst_area {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .area-text {
        p {
          line-height: 28px;
          color: $board-text;
        }

        h1 {
          color: #3a3f51;
        }
      }
      .badge-text {
        display: flex;
        align-items: center;
        gap: 10px;

        span {
          font-size: 14px;
          color: $prev-dash-color;
        }
        .alert {
          color: $badges-red !important;
          background: $bg-badges-red !important;
        }
        .badge {
          font-size: 12px;
          color: $badges-green;
          background: $bg-badges-green;
          padding: 5px 8px;
          border-radius: 20px;
          text-align: center;

          .span_arrow {
            padding-inline: 2px;
          }
        }
      }
    }
  }
  .grid-row-two {
    @extend .canvas;

    @media only screen and (min-width: 1400px) {
      grid-column: span 3;
    }

    @media only screen and (min-width: 1200px) {
      grid-column: span 2;
    }

    @media only screen and (max-width: 620px) {
      grid-template-columns: repeat(1, 1fr);
    }
    .table-head {
      @extend .canvas-track;

      div:first-child {
        color: $text-bold;
        font-size: 16px;
        font-weight: 500;
      }
      .see-all {
        font-size: 14px;
        color: $badges-green;
      }
    }
    table {
      width: 100%;
      border-collapse: collapse;
      tr {
        text-align: left;
        margin: 0;
        padding: 0;
      }

      tr > td:first-of-type {
        color: $fill-sort-by;
        font-size: 16px;
        display: flex;
        align-items: center;
        gap: 8px;
        font-weight: 500;
        line-height: 24px;
      }
      tr > td:nth-child(2) {
        color: $neutral;
        font-size: 16px;
        line-height: 24px;
      }
      tr > td:nth-child(3) {
        color: $table_amt;
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
      }
      tr:nth-child(odd) > td:nth-of-type(4) {
        color: $badges-green;
      }
      tr:nth-child(even) > td:nth-of-type(4) {
        color: $badges-red;
      }

      tr > td:last-of-type {
        color: $table_amt;
        font-size: 14px;
        font-weight: 400;
        display: flex;
        align-items: center;
        gap: 5px;
        cursor: pointer;
        margin-bottom: 10px;
      }

      th {
        color: $table-head;
        font-weight: 400;
        padding: 15px 8px;
      }
      td {
        padding: 15px 8px;
      }
      th,
      tr:not(:last-of-type) {
        border-bottom: 1px solid $table-stroke;
      }
    }
  }
  //   last-grid-row
  .last-grid-row {
    @extend .canvas;

    @media only screen and (min-width: 1400px) {
      grid-column: span 2;
    }
    @media only screen and (min-width: 1200px) {
      grid-column: span 2;
    }

    .last-header {
      @extend .canvas-track;
      div:first-child {
        color: $text-bold;
        font-size: 16px;
        font-weight: 500;
      }
      .see-all {
        font-size: 14px;
        color: $badges-green;
      }
    }
    .content-platform {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .book-bazar {
        @extend .content-platform;
        gap: 15px !important;
        padding-top: 5px;
        .text-title {
          color: $text-bold;
          font-size: 16px;
          font-weight: 500;
        }
        .progress-bar {
          width: 100%;
          height: 12px;
          border-radius: 40px;
          position: relative;
          background: $progress-layer;

          &::before {
            position: absolute;
            content: "";
            background: $progress-bazar;
            width: calc(54% + 0.2%);
            // top: 20%;
            // bottom: 50%;
            height: 100%;
            border-radius: inherit;
          }
        }
        .progress-bar-artisan {
          @extend .progress-bar;
          &:before {
            background: $progress-artiste;
            width: calc(100% - 54.8%);
          }
        }
        .progress-bar-troop {
          @extend .progress-bar;
          &:before {
            background: $progress-troop;
            width: calc(100% - 72.98%);
          }
        }
        .progress-bar-store {
          @extend .progress-bar;
          &:before {
            background: $progress-store;
            width: calc(100% - 72.98%);
          }
        }
      }

      .rate {
        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
          font-weight: 400;
          font-size: 18px;
          line-height: 26px;
          color: $neutral;
        }
      }
    }
  }
}

@media only screen and (max-width: 620px) {
  tr > td:first-of-type img {
    display: none;
  }
}
