// layout-stylings
@use "../global/colors" as *;
@use "../utils/fonts" as *;
// $padding: 1.2rem 1rem 0.8rem 6.2rem;
.container {
  div.navbar {
    display: flex;
    justify-content: space-between;
    background: $boards-color;
    transition: all 600ms ease-in-out;
    position: sticky;
    top: 0;
    padding: $padding;
    align-items: center;
    border-bottom: 1px solid $strohe-board;
    // overflow-x: hidden;
    .nav-header {
      font-weight: calc($font-bold + 100);
      font-size: 20px;
    }
  }

  .search-notifications {
    display: flex;
    gap: 2.3rem;
    align-items: center;

    .search-box {
      position: relative;
      @media only screen and (max-width: 500px) {
        display: none;
      }
      input {
        all: unset;
        width: 300px;
        padding: 8px 4px;
        border: 1px solid $strohe-board;
        border-radius: $curve-radius;
        text-indent: 35px;
        background: $bg-color;
        transition: all 600ms ease-in-out;
        &::placeholder {
          font-size: 15px;
          color: $strohe-board;
        }
        @media only screen and (max-width: 856px) {
          width: 100%;
        }
      }
      .search-icon {
        position: absolute;
        top: 50%;
        left: 20px;
        bottom: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .date-curent {
      display: flex;
      align-items: center;
      gap: 8px;

      svg {
        @media only screen and (max-width: 712px) {
          display: none;
        }
      }

      p {
        font-family: $variable-font;
        font-weight: $font-bold;
        font-size: 14px;

        @media only screen and (max-width: 712px) {
          display: none;
        }
      }
    }

    .notify-loginInfo {
      .logo-bell-sm {
        display: none;

        .dj {
          background: $badges-green;
          padding: 7px 8px;
          border-radius: 8px;
          color: $bg-color;
          text-align: center;
          cursor: pointer;
        }

        .bell {
          background: inherit;
          padding: 10px;
          border: 1px solid $strohe-board;
          transition: all 600ms ease-in-out;
          border-radius: 50%;

          &:hover {
            background: $badges-green;
          }
        }
        @media only screen and (max-width: 1020px) {
          display: flex;
          align-items: center;
          gap: 1.2rem;
        }
      }
      .logo-major {
        @extend .date-curent;
        gap: 1.2rem;

        .bell {
          background: inherit;
          padding: 10px;
          border: 1px solid $strohe-board;
          transition: all 600ms ease-in-out;
          border-radius: 50%;

          &:hover {
            background: $badges-green;
          }
        }
        .login_info {
          background: inherit;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 12px;
          border-radius: 20px;
          padding: 5px 5px;
          border: 1px solid $strohe-board;

          .name {
            font-size: 15px;
            font-family: $variable-font;
            font-weight: 400;
            color: $font-bold;
            text-align: center;
          }
          p:not(.name) {
            color: $color_fade;
            font-weight: 400;
            font-family: $variable-font;
            font-size: 14px;
          }
        }
        @media only screen and (max-width: 1020px) {
          display: none;
        }
      }
    }
  }
}

// conditional-css-for-notification

.notify {
  position: absolute;
  top: 90px;
  right: 20px;
  z-index: 100;
  width: clamp(15em, 380px, 380px);
  padding: 15px;
  background: $bg-color;
  border: 1px solid $strohe-board;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
  border-radius: 14px;
  display: none;

  @media only screen and (max-width: 600px) {
    width: 250px;
  }
}

.notifyShow {
  display: block;
}
.login_drpdnn_show {
  display: block !important;
}
.notify_label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.notify_label > div:first-of-type {
  font-size: 14px;
  font-weight: 500;
}
.notify_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.notify_buttons > button:not(:last-of-type) {
  padding: 3px;
}
.notify_buttons > button {
  all: unset;
  cursor: pointer;
  padding: 6px;
  border-radius: 4px;
  background: transparent;
  border: 1px solid transparent;
}
.notifies {
  padding-top: 20px;
}
.notifies_text {
  $grey-100: #616161;
  --light: #e3e3e3;
  padding: 12px;
  font-size: 13px;
  text-align: center;
  font-weight: 500;
  color: var(--grey-100);
  background: var(--light);
}

// conditional-css-for-login

/* login-dropdown */
.login_dropdwn {
  background: $bg-color;
  position: absolute;
  top: 90px;
  right: 20px;
  z-index: 100;
  width: clamp(15em, 380px, 380px);
  padding: 8px;
  background: $bg-color;
  border: 1px solid #dbdbdb;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
  border-radius: 14px;
  /* overflow-y: none !important; */
  overflow-x: hidden;
  display: none;

  @media only screen and (max-width: 600px) {
    width: 250px;
  }
}
/* //toggle-func-for-display */
.login_details {
  --grey-100: #616161;
  --light: #e3e3e3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--light);
  padding: 6px;
  border-radius: 14px;
}

.login_mark {
  margin-right: 10px;
}

.login_davii {
  display: flex;
  align-items: center;
  gap: 5px;
}
.login_davii .name_login {
  font-size: 13px;
  font-weight: 500;
  color: #303030;
}
.all_stores {
  margin-top: 10px;
  display: flex;
  border-radius: 8px;
  cursor: pointer;
  align-items: center;
  gap: 5px;
  /* background: var(--light); */
  padding: 6px;
}
.stroke_line {
  margin-top: 8px;
  margin-left: -10px;
  width: calc(350px + 50px);
  height: 0px;
  border: 0.75px solid #e1e1e1;
}
.login_store {
  font-size: 13px;
  color: #303030;
}
.login_logo_mobile {
  background: $badges-green;
  padding: 7px 8px;
  border-radius: 8px;
  color: $bg-color;
  text-align: center;
  cursor: pointer;
}
.login_name {
  --grey-100: #616161;
  --light: #e3e3e3;
  color: var(--light);
  position: relative;
  display: block;
  cursor: pointer;
}
.login_name p {
  --grey-100: #616161;
  --light: #e3e3e3;
  font-size: 12px;
  line-height: 130%;
  background: var(--grey-200);
  border-radius: 8px;
  padding: 10px 35px 10px 8px;
  /* outline: 2px solid transparent; */
}

.more_nav {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 1.2px;
  /* justify-content: ; */
}
.more_nav a {
  color: #303030;
  display: block;
  padding: 8px;
  /* background: red; */
  border-radius: 8px;
  font-size: 13px;
  font-weight: 500;
}
.login_logo {
  --grey-200: #322f33;
  position: absolute;
  right: 2px;
  bottom: 6px;
  color: var(--grey-200);
  background: #36fba1;
  display: inline;
  padding: 5px;
  font-size: 12px;
  border-radius: 5px;
}

.mail_info p:first-of-type {
  font-size: 13px;
  font-weight: 500;
}
.mail_info > div {
  display: block;
  padding: 8px;
  line-height: 120%;
}
.mail_info p {
  font-size: 12px;
}
