@use "../global/colors" as *;
@use "../utils/fonts" as *;

// sidebar-styles
.sidebar {
  width: 70px;
  background: $bg-color;
  transition: all 600ms ease-in-out;
  color: white;
  height: 100vh;
  overflow-y: auto;
  position: fixed;
  top: 0;
  bottom: 0;
  border-right: 1px solid $side-border;
  text-align: center;

  // @media only screen and (max-width: 620px) {
  //   width: 60px;
  // }
  &::-webkit-scrollbar {
    background: transparent;
    width: 0px;
  }

  &::-webkit-scrollbar-thumb {
    width: 0px;
    background: transparent;
  }
  &::-webkit-scrollbar-track {
    width: 0px;
    background: transparent;
  }
  .sidebar_container {
    background: $bg-side-major;
    transition: all 600ms ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10rem;
    align-items: center;
    padding-top: 20px;
    padding-block-end: $curve-radius;

    .side-major,
    .side-minor {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1.9rem;
    }

    .side-major {
      .home {
        position: relative;

        &::after {
          position: absolute;
          content: "";
          background: $side-tracker;
          width: calc(100% + 0px);
          height: 3px;
          top: 42%;
          right: -34px;
          border-radius: 10px 10px 0 0;
          transform: rotate(-90deg);
        }
      }

      .theme_toggle {
        padding: 12px 8px;
        background: $bg-color;
        display: flex;
        flex-direction: column;
        transition: all 600ms ease-in-out;
        align-items: center;
        gap: 1rem;
        border-radius: calc($curve-radius + 80px);

        // condition-style-for-toggled
        .nav_toggle:first-of-type > svg {
          padding: 6px;
          border-radius: 50%;
        }
        .nav_toggle:last-of-type > svg {
          padding: 4px;
          border-radius: 50%;
        }
      }
    }
  }
}

.active_toggle > svg {
  background: $badges-green;
  // fill: $bg-color;
  path {
    fill: $bg-color;
  }
}

.reset_cl > svg {
  path {
    fill: #b2abab;
  }
}
